button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.add-form {
  margin: 1rem;
}

.add-input {
  font-size: 2rem;
}

.add-button {
  height: 100%;
  font-size: 2rem;
  margin-left: 0.2rem;
  padding: 0.1em 0.5em;
  color: white;
  background-color: rgb(93, 180, 71);
}

.navbar {
  font-size: 2rem;
  padding: 1em;
  background-color: rgb(237, 246, 153);
}

.navbar-logo {
  margin-left: 0.5em;
}

.navbar-count {
  margin-left: 0.5em;
}

.habit {
  font-size: 3rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: rgb(93, 180, 71);
  line-height: 3rem;
  margin: 0 0.2em 0 0.5em;
  border-radius: 50%;
  color: white;
}

.habit-button {
  font-size: 3rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.5;
}

.habit-increase,
.habit-decrease {
  color: pink;
}

.habit-delete {
  color: red;
}

.habits-reset {
  font-size: 1.5rem;
  padding: 0.2em 1em;
  background-color: rgb(237, 246, 153);
}
